/* Stats section Starts here */
.sec-02 {
  color: #fff;
  width: 100%;
  /* border: 2px solid red; */
  margin-top: 18vh;
  position: relative;
}
#book-girl {
  position: absolute;
  /* border: 2px solid red; */
  width: 16vw;
  top: -14vh;
  right: 45%;
}
.sec-02 .stats {
  padding: 5vw;
  background: linear-gradient(to right, rgb(20, 0, 184), rgb(238, 0, 239));
}
.sec-02 .heading {
  margin-top: 5vh;
}
.sec-02 .stats input {
  width: 40vw;
  height: 4vw;
  border-radius: 100px;
  border: none;
  margin-right: 2vw;
}
.sec-02 .stats .btn {
  background-color: rgb(20, 0, 184);
  color: #fff;
  border-radius: 25px;
  border: none;
}
.input-div {
  /* border: 2px solid red; */
  width: fit-content;
  margin: 5vh auto;
}
.sec-02 table {
  /* border: 2px solid red; */
  padding: 1vh;
  margin: 10vh auto;
  width: 90%;
  color: #fff;
}
.sec-02 table tr {
  /* border: 2px solid red; */
  padding: 1vh;
}
.sec-02 table th {
  /* border: 2px solid red; */
  padding: 1vh;
  font-size: 4.5vw;
}
.sec-02 table td {
  /* border: 2px solid red; */
  padding: 1vh;
  font-size: 2vw;
  text-align: center;
}
.sec-02 .input-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
@media (max-width: 1024px) {
  .sec-02 .input-div {
    height: 20vh;
    flex-direction: column;
  }
  .sec-02 .input-div button {
    margin: 0 auto;
    height: 5vw;
    width: 15vw;
  }
}
/* Stats section Ends here */
